body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
p {
  color: #8f8f8f;
}

/*Headings*/
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
.section-heading {
  line-height: 1.5;
  font-weight: 700;
}

/*navigation bar*/
.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}
.navbar-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

/*Sections*/
.colored-section {
  background-color: #ff4c68;
  color: #ffffff;
}
.white-section {
  background-color: #ffffff;
}

/*Title*/
#title {
  text-align: left;
}
.container-fluid {
  padding: 3% 15% 7%;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.phone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1;
  right: 25%;
}

/*Features*/
#features {
  padding: 8% 12%;
  position: relative;
  z-index: 2;
}
.feature-item {
  padding: 0 4%;
  margin: 0 auto;
}
.feature-icon {
  font-size: 5rem;
  margin-bottom: 20px;
  color: #ef8172;
}
.feature-icon:hover {
  color: #ff4c68;
}
.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
}

/*Testimonials*/
.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

/*Press*/
#press {
  padding-bottom: 3%;
}
.press-image {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

/*Pricing*/
#pricing {
  padding: 100px;
}
.pricing-col {
  padding: 3% 2%;
}

/*Call to action*/
#cta {
  padding: 8% 12% 5%;
}

/*Footer*/
#footer {
  padding: 8%;
  line-height: 3rem;
}
.footer-icon {
  padding: 10px;
}

@media (max-width:1028px) {
  .phone {
    position: static;
    transform: rotate(0deg);
  }
  #title {
    text-align: center;
  }
}
